{% extends "base.html" %}
{% block start %}

<h1 id="mi">Expense Tracker</h1>
<div style="position:absolute;left:88%;top:15px;">
<b> Hi {{request.user.first_name}} &nbsp;&nbsp;&nbsp;</b>
<a style="text-decoration:none;background-color:#13168d; color:white;border-radius: 16px;padding: 5px 10px;" href="{% url 'logout_view' %}">Logout</a>
</div>
<div class="container">
  <div class="header">
    <img
      src="https://i.ibb.co/jfScDTC/budget.png"
      alt="Expense Tracker"
    />
    <div class="balance-container">
      <h2>Your Balance</h2>
      <h2 id="balance" class="balance">₹{{ current_balance.current_balance }}</h2>
    </div>
  </div>
  <div class="inc-exp-container">
    <div>
      <h4>Income</h4>
      <p id="money-plus" class="money plus">+{{income}}</p>
    </div>
    <div>
      <h4>Expenses</h4>
      <p id="money-minus" class="money minus">{{expense}}</p>
    </div>
  </div>
  <h3>History</h3>
  <ul id="list" class="list">
    {% for transaction in transactions %}
    <li class={% if transaction.expense_type == 'CREDIT' %}"plus"{% else %}"minus"{% endif %}>
      <div style="overflow: hidden; text-overflow: ellipsis;">{{transaction.description}}</div> <span>{{transaction.amount}}</span>
      <a class="delete-btn" href="{% url 'delete_transaction' transaction.id %}"><i class="fa fa-times"></i></a>
    </li>
    {% endfor %}

  </ul>
  <h3>Add new transaction</h3>
  <form method="POST" id="form">
    {% csrf_token %}
    <div class="form-control">
      <label for="text">Description</label>
      <input type="text" id="text" name="description" placeholder="Enter description..." />
    </div>
    <div class="form-control">
      <label for="amount">Amount <br> </label>
      <input type="number" id="amount" name="amount" placeholder="Enter amount..." />
    </div>
    <button class="btn" type="submit">Add transaction</button>
  </form>
</div>
<!-- Notification -->
<div class="notification-container" id="notification">
  <p>Please add a description and amount</p>
</div>
{% endblock %}