{% extends 'base.html' %}

{% block start %}
<div style="margin-top: -120px;width:300px">
    <h3 style="text-align: center;">Register Page</h3>
    <form method="POST" id="form">
        {% csrf_token %}
        <div class="form-control">
        <label for="text">Username</label>
        <input type="text" id="text" name="username" placeholder="Enter username..." />
        </div>
        <div class="form-control">
        <label for="text">First Name</label>
        <input type="text" id="text" name="first_name" placeholder="Enter First Name..." />
        </div>
        
        <div class="form-control">
        <label for="text">Last Name</label>
        <input type="text" id="text" name="last_name" placeholder="Enter Last Name..." />
        </div>
        <div class="form-control">
        <label for="password">Password <br> </label>
        <input type="password" id="amount" name="password" placeholder="Enter password..." />
        </div>
        <small>Already have an account ?<a href="{% url 'login_view'%}">Login</a><small>
        <button class="btn" type="submit">Register</button>
    </form>
</div>
{% endblock %}